/* layout.css - Header, navigation, footer and layout components */

/* Header Styles */
.site-header {
  font-family: "Raleway", sans-serif !important;
  background-color: var(--THEME_COLOR_3); /* Dark header background */
  color: var(--THEME_COLOR_1); /* White text */
  padding: 1rem;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space between nav and social links */
  align-items: center; /* Align items vertically */
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

.site-header:hover {
  background-color: #011638; /* Darken the background on hover */
  /* transform: scale(1.01);  */
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0; /* Ensure nav list aligns properly */
}

header nav ul li a {
  color: var(--THEME_COLOR_2); /* White text for links */
  text-decoration: none;
  padding: 0.5rem;
}

header nav ul li a:hover {
  color: var(--THEME_COLOR_4); /* Highlight color for link hover */
}

.social-links a {
  color: var(--THEME_COLOR_2); /* White text for links */
  text-decoration: none;
  padding: 0 0.5rem; /* Adjust as needed */
}

.social-links a:hover {
  color: var(--THEME_COLOR_4); /* Highlight color on hover */
}

/* Footer Styles */
.site-footer {
  font-family: "Raleway", sans-serif !important;
  background-color: var(--THEME_COLOR_5); /* Dark background */
  color: #fff; /* White text */
  text-align: center;
  vertical-align: bottom;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 3rem;
  /* position: ; figure out how to make it stick to the bottom */
  transition: all 0.3s ease; /* Smooth transition for all properties */
  bottom: 0;
  left: 0;
  width: 100%;
}

.site-footer:hover {
  background-color: #010013; /* Darken the background on hover */
  /* height: 20px; Increase height on hover */
}

.site-footer a {
  color: var(--THEME_COLOR_2); /* White text for links */
  margin: 0 15px;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
  color: var(--THEME_COLOR_4);
}

/* Responsive Layout */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin-bottom: 0.5rem;
  }

  /* Other responsive styles */
}
