/* style.css */

/* Theme Constants */
:root {
  /*Text*/
  --THEME_COLOR_1: #252422;
  /*Background*/
  --THEME_COLOR_2: #FFFCF2;
  /*Header*/
  --THEME_COLOR_3: #EB5E28;
  /*Hero, about, projects*/
  --THEME_COLOR_4: #CCC5B9;
  /*footer*/
  --THEME_COLOR_5: #403D39;
  /*Footer Text*/
  --FOOTER_TEXT: #fff;
}

/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif; 
  background-color: var(--THEME_COLOR_2);
  color: var(--THEME_COLOR_1);
}


h1 {
  font-family: Ubuntu, sans-serif; 
}
  
.site-header {
  font-family: Ubuntu, sans-serif; 
  background-color: var(--THEME_COLOR_3); /* Dark header background */
  color: var(--THEME_COLOR_1); /* White text */
  padding: 1rem;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space between nav and social links */
  align-items: center; /* Align items vertically */
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

.site-header:hover {
  background-color: #f3703c; /* Darken the background on hover */
  /* transform: scale(1.01);  */
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0; /* Ensure nav list aligns properly */
}

header nav ul li a {
  color: #ffffff; /* White text for links */
  text-decoration: none;
  padding: 0.5rem;
}

header nav ul li a:hover {
  color: var(--THEME_COLOR_1); /* Highlight color for link hover */
}

.social-links a {
  color: #ffffff; /* White text for links */
  text-decoration: none;
  padding: 0 0.5rem; /* Adjust as needed */
}

.social-links a:hover {
  color: var(--THEME_COLOR_1); /* Highlight color on hover */
}
/* style.css */

@media (max-width: 768px) {
    header nav ul {
      flex-direction: column;
    }
  
    header nav ul li {
      margin-bottom: 0.5rem;
    }
  
    /* Other responsive styles */
  }


  /* Home */


  /* Hero Section */
.hero {
  text-align: center;
  padding: rem 0;
  /* margin-top: ; */
  margin-bottom: 2rem;
  margin-left: 0rem;
  /* background-color: var(--THEME_COLOR_4); */

}

.hero h1 {
  font-family: Ubuntu, sans-serif; 
  font-size: 4rem;
  margin-bottom: 0.5rem;
  margin-left: 0rem;

}
.hero h2 {
  font-family: Ubuntu, sans-serif; 
  font-size: 2rem;
  /* max-width:; */
  text-align: center;
  margin-bottom: 0.5rem;
  margin-left: 0rem;

}

.hero p {
  font-size: 1.2rem;
  color: var(--THEME_COLOR_1);
  margin-left: 4px;
}

/* .profile-image { */
  /* width: ; Set width */
  /* height: auto; Maintain aspect ratio */
  /* border: 0px solid var(--THEME_COLOR_1); Solid border */
  /* border-radius: 0%; Circular image */
  /* margin-left: 0px;
  /* transition: transform 0.5s ease; Smooth transition for transform */
/* } */

/* .profile-image:hover { */
   /* transform: scale(1.005); Scale up to 110% of the original size on hover */
/* } */


/* Portfolio Section */
/* .portfolio {
  padding: 2rem 0;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 1rem;
} */

.project {
  margin-bottom: 1rem;
}

/* About Section */
.about {
  background-color: var(--THEME_COLOR_4);
  padding: 2rem 0;
  margin-bottom: 1rem;
  text-align: center;
}


/* Responsive Design */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .skills li {
    display: block;
    margin: 0.5rem 0;
  }
}

  /* Projects */

.projects {
  background-color: var(--THEME_COLOR_4);
  padding: 2rem;
  text-align: center;
  /* margin-bottom: ; */
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 30%;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #f9f9f9;
  transition: transform 0.3s ease;
}

.projects h2 {
  font-family: Ubuntu, sans-serif; 
}
.project h3 {
  font-family: Ubuntu, sans-serif; 
}

.project:hover {
  transform: scale(1.1);
}

.project-image {
  max-width: 70%;
  height: auto;
  border-radius: 4px;
}

.project a {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 4px;
}

.project a:hover {
  background-color: #333;
  color: #ffffff;
}

.project button {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 4px;
}

.project button:hover {
  background-color: #333;
  color: #ffffff;
}

/* Responsive Design for Projects */
@media (max-width: 768px) {
  .project {
    width: 100%;
  }
}

/* Footer */

.site-footer {
  font-family: Ubuntu, sans-serif; 
  background-color: var(--THEME_COLOR_5); /* Dark background */
  color: #fff; /* White text */
  text-align: center;
  vertical-align: bottom;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 10px;
  /* position: ; figure out how to make it stick to the bottom */
  transition: all 0.3s ease; /* Smooth transition for all properties */
  bottom: 0;
  left: 0;
  width: 100%;
}

.site-footer:hover {
  background-color: #333; /* Darken the background on hover */
  height: 20px; /* Increase height on hover */
}

.site-footer a {
  color: var(--FOOTER_TEXT); /* White text for links */
  margin: 0 15px;
  text-decoration: none;
}

.site-footer a:hover {
  text-decoration: underline;
}



/* Home temp */
.home-container {
  text-align: right;
  padding: 20px;
  /* background-color:; */
}

.header h1 {
  font-size: 2em;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-between;
  /* margin-top: ; */
}

/* .profile-picture {
  max-width: 70%;
  text-align: left;
} */

.home-picture img {
  max-width: 30em;
  text-align: left;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional, for shadow effect */
  transition: transform 0.5s ease;
}

.home-picture img:hover {
  transform: scale(1.005); /*Scale up to 110% of the original size on hover */
}

.profile-picture img {
  max-width: 100%; /* Adjust based on your preference */
  height: auto;
  border-radius: 5px; /* Optional, for rounded corners */
  /* border: 1px solid var(--THEME_COLOR_1); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional, for shadow effect */
  transition: transform 0.5s ease; /*Smooth transition for transform */
}

.profile-picture img:hover {
   transform: scale(1.005); /*Scale up to 110% of the original size on hover */
}

.description {
  max-width: 50%;
  text-align: left;
  margin-left: 1rem;
  font-size: 1.5rem;
  /* background-color: white;
  border-radius: 10px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.description p {
  max-width: 85%;
  text-align: left;
  /* margin-left: rem; */
  /* background-color: white;
  border-radius: 10px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.location {
  max-width: 50%;
  /* margin-top: ; */
  text-align: left;
}

.experience {
  padding-left: 1rem;
  font-size: 1.5rem;
  /* margin-top: ; */
  text-align: left;
}

.mission {
  /* margin-top:; */
  font-size: 1.5rem;
  text-align: left;
}

.hobbies {
  font-size: 1.5rem;
  /* margin-top: ; */
  text-align: left;
  max-width: 50%;

}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* Gallery Page Specifically */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  padding: 16px;
}

.category img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional for styling */
}

.category p {
  text-align: center;
}

/* Photo Category Page */

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Adjust min size as needed */
  gap: 20px; /* Space between items */
  padding: 20px; /* Padding around the grid */
}

.photo-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the items if you want */
}

.photo-item img {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: for rounded corners */
}

.photo-title {
  margin-top: 10px; /* Space between the image and its title */
  text-align: center; /* Center-align the title */
  font-size: 16px; /* Adjust title font size as needed */
  color: #333; /* Title text color */
}
